<%- model_class = Album -%>
<div class="page-header">
  <h1><%=t '.title', :default => @album.name %></h1>
</div>

<ul class="thumbnails">

  <% if @album.images.empty? %>
    <h2>No Images In Current Album</h2>
  <% else %>
    <% @album.images.each do |image| %>
        <li class="span2">
          
            <p><%= link_to image_tag(image.photo(:medium), :height => '120', :class => 'img-polaroid'), image_path(image) %></p>
            <div class="thumbnail well center">
            <p><%= image.name %></p>
            <p>By: <%= image.user.first_name %> <%= image.user.last_name %></p>
          </div>
        </li>
    just for <% end %>
  <% end %>
</ul>



<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              albums_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_album_path(@album), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              album_path(@album),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

